@font-face {
    font-family: 'amblebold';
    src: url('fonts/amblebold/amble-bold-webfont.woff2') format('woff2'),
         url('fonts/amblebold/amble-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ambleregular';
    src: url('fonts/ambleregular/amble-regular-webfont.woff2') format('woff2'),
         url('fonts/ambleregular/amble-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'colab';
    src: url('fonts/colab/colabthi-webfont.woff2') format('woff2'),
         url('fonts/colab/colabthi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
}

#header, #header img {
    display: none;
}

#aside {
    padding:0;
    width: 380px;
    height: 198em;
    background-color: #64B5F6;
    display: block;
    float: left;
}

#aside img {
    width: 160px;
    height:200px;
    border-radius: 50%;
    margin-left: 6em;
    margin-top: 3em;
    margin-bottom: 2em;
    border: 5px #5597ce93 solid;
}

#contact-next-to {
    height: 50px;
    width: 380px;
    background-color: #212121;
}

#contact-next-to p {
    text-align: center;
    padding-top: 0.7em;
    font-family: 'amblebold';
    font-size: 20px;
    color: #64B5F6;
}

#contact-next-to svg {
    width:25px;
    height: 25px;
    position: absolute;
    margin-top:0.8em;
    margin-left: 6.8em;
    color: #64B5F6;
}

#texte-contact p {
    font-family: 'ambleregular';
    color: #212121;
    margin-left: 3em;
    margin-right: 3em;
    text-align:justify;
}

a {
    text-decoration: none;
    color: #212121;
}

a:hover {
    color: #555555;
}

#a-propos {
    height: 50px;
    width: 380px;
    background-color: #212121;
    margin-bottom: 2em;
}

#a-propos svg {
    width:25px;
    height: 25px;
    position: absolute;
    margin-top:0.8em;
    margin-left: 4em;
    color: #64B5F6;
}

#a-propos p {
    text-align: center;
    padding-top: 0.7em;
    font-family: 'amblebold';
    font-size: 20px;
    color: #64B5F6;
}

#texte-a-propos p {
    font-family: 'ambleregular';
    color: #212121;
    margin-left: 3em;
    margin-right: 3em;
    text-align:justify;
}

#logo-adresse, #logo-tel, #logo-email, #logo-site {
    width: 30px;
    height: 30px;
    position:absolute;
    padding-bottom:1em;
    color: #212121;
    margin-left: 0.5em;
}


#body {
    display: block;
    float: inline-start;
    margin-left:5em;
}

header {
    padding-top: 60px;
}

header h2{
    font-size: 70px;
    font-family: 'colab';
    font-weight: lighter;
    position:absolute;
}

header span {
    color: #64B5F6;
    font-size:70px;
    font-family: 'ambleregular'
}

header p {
    margin:0;
    font-family: 'ambleregular';
    font-size: 25px;
    font-weight: bold;
    color: #212121;
    margin-top:5.5em;
}

#sepa-header {
    height:2px;
    width: 75px;
    background-color: #64B5F6;
    margin-bottom: 120px;
}

#logo-formation {
    width: 35px;
    height: 35px;
    position:absolute;
    padding-bottom:1em;
    color: #64B5F6;
}

#formation-formation {
    margin-left:2em;
    font-size: 25px;
    font-family: 'ambleregular';
    margin-top:5em;
}

#sepa-formation {
    height:2px;
    width: 80em;
    background-color: #64B5F6;
}

.formation-gauche {
    display: inline-block;
    flex-direction: column;
}

.formation-droite {
    display: inline-block;
    flex-direction: column;
}

.conteneur {
    display: inline-block;
    justify-content: center;
    width:100%;
    flex: initial;
}

.content {
    display: inline-flex;
    flex-direction: column;
    margin-bottom:1em;
    flex-wrap: wrap;
    width: 30em;
    padding-right:10em;
    padding-left: 3em;
}

.etablissement {
    font-size:25px;
    color: #212121;
    font-weight: bolder;
}

.titre {
    font-size:18px;
    color: #212121;
    font-weight: bold;
}

.descript {
    font-size:20px;
    color: #212121;
    text-align:justify;
}

#point-dip1 {
    position: absolute;
    display: block;
    margin-top: 0.6em;
}

#point-dip2, #point-dip3, #point-dip4 {
    position: absolute;
    display: block;
}

#point-dip1 p {
    font-size: 1.5em;
    color: #64B5F6;
    margin-top:18px;
    margin-left:4px;
} 

#point-dip2 p, #point-dip3 p, #point-dip4 p{
    font-size: 30px;
    color: #64B5F6;
}

#cercle-point-dip1, #cercle-point-exp1 {
    position: absolute;
    height: 9px;
    width: 9px;
    border: 2px #64B5F6 solid;
    border-radius: 50%;
    margin-top:35px;
    margin-left:2px;
}

#logo-experience {
    width: 35px;
    height: 35px;
    position:absolute;
    color: #64B5F6;
    margin-top:4.3em;
}

#experience-experience {
    margin-left:2em;
    font-size: 25px;
    font-family: 'ambleregular';
    margin-top:3em;
}

#sepa-exp {
    height:2px;
    width: 80em;
    background-color: #64B5F6;
    margin-top:0.5em;
}

#point-exp1 {
    position: absolute;
    display: block;
    margin-left:2px;
    margin-top: 3px;
}

#point-exp2, #point-exp3, #point-exp4, #point-exp5, #point-exp6, #point-exp7 {
    position: absolute;
    display: block;
}

#point-exp1 p {
    font-size: 1.5em;
    color: #64B5F6;
    margin-left:2px;
} 

#point-exp2 p, #point-exp3 p, #point-exp4 p, #point-exp5 p, #point-exp6 p, #point-exp7 p{
    font-size: 30px;
    color: #64B5F6;
}

#loisirs {
    height: 50px;
    width: 380px;
    background-color: #212121;
    margin-bottom: 1em;
    margin-top: 114em;
}

#loisirs p {
    text-align: center;
    padding-top: 0.7em;
    font-family: 'amblebold';
    font-size: 20px;
    color: #64B5F6;
}

#logo-loisir-ordi, #logo-loisir-travel, #logo-loisir-amis {
    width: 50px;
    height: 50px;
    margin-right:1em;
    margin-left:1em;
    margin-top: 1em;
    border: 3px #212121 solid;
    border-radius:50%;
    display: inline-block;
    color: #212121;
}

#logo-loisir-ordi {
    margin-left: 4em;
}

#logo-loisir {
    width:25px;
    height: 25px;
    position: absolute;
    margin-top:0.8em;
    margin-left: 6.8em;
    color: #64B5F6;
}


                                                                                    /*Responsive grand écrans jusqu'à 1650px */

@media (min-width:1650px) and (max-width: 1840px) {

    #sepa-formation, #sepa-exp {
        width:70em;
    }

    .content {
        width: 30em;
        padding-right: 2em;
    }
}


                                                                                            /*Responsive 1650px -> 1400px */

@media (min-width: 1400px) and (max-width:1650px) {

    #sepa-formation, #sepa-exp {
        width:55em;
    }
    
    .content{
        width: 25em;
        padding-right: 1em;
        padding-left: 2em;
    } 
    
    #aside {
        height: 204em;
    }

    #loisirs {
        margin-top: 121em;
    }
}


                                                                                            /*Responsive 1400px -> 1250px */

@media (min-width:1250px) and (max-width:1400px) {

    #sepa-formation, #sepa-exp {
        width:45em;
    }
    
    .content{
        width: 19em;
        padding-right: 1em;
        padding-left: 2em;
    } 
    
    #aside {
        height: 225em;
    }

    #loisirs {
        margin-top: 141em;
    }
}

                                                                                            /*Responsive 1250px -> 1050px */

@media (min-width:1050px) and (max-width:1250px) {

    #aside {
        width: 100%;
        height:30em;
        float:none;
    }
    
    #aside img {
        display: none;
    }

    #contact-next-to {
        width: 100%
    }

    #contact-next-to svg {
        margin-left:28em;
    }

    #texte-contact p {
        display: inline-grid;
        justify-content: center;
        width:20em;
        margin-left:6em;
    }

    #logo-adresse, #logo-tel, #logo-email, #logo-site {
        width: 30px;
        height: 30px;
        position: absolute;
        margin-top: 1.2em;
        color: #212121;
    }

    #logo-adresse {
        margin-left: 6em;
    }

    #logo-tel {
        margin-left: 10em;
    }

    #logo-email {
        display: flex;
        margin-left: 7em;
    }

    #logo-site {
        margin-left: 8em;
    }

    #a-propos {
        width:100%;
    }

    #a-propos svg {
        margin-left:25em;
    }

    header {
        display: none;
    }

    #header {
        display: block;
        margin-left: 20em;
        margin-top:5em;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    #header h2{
        font-size: 70px;
        font-family: 'colab';
        font-weight: lighter;
        margin:0;
    }
    
    #header span {
        color: #212121;
        font-size:70px;
        font-family: 'ambleregular'
    }
    
    #header p {
        margin:0;
        font-family: 'ambleregular';
        font-size: 25px;
        font-weight: bold;
        color: #212121;
    }

    #header img {
        display: block;
        width: 160px;
        height:200px;
        border-radius: 50%;
        margin-left: 6em;
        margin-bottom: 2em;
        border: 5px #5597ce93 solid;
    }

    .conteneur {
        justify-content: center;
    }

    .content {
        width: 20em;
        padding-right: 2em;
        padding-left: 2em;
    }

    #formation-formation {
        margin-top: 2em;
    }

    #logo-formation {
        margin-top:3em;
    }

    #sepa-formation, #sepa-exp {
        width:55em;
    }

    #loisirs {
        margin-top:192em;
        width: 100%;
        margin-bottom: 0;
    }

    #logo-loisir {
        margin-left:28em;
    }

    #logo-loisir-ordi {
        margin-left:25em;
    }

    #fond-loisir {
        width: 100%;
        height: 6em;
        background-color:#64B5F6;
    }

    .descript {
        font-size:18px;
    }

    #cercle-point-dip1 {
        margin-top: 36px;
    }
}


                                                                                            /*Responsive 1050px -> 900px */

@media (min-width:900px) and (max-width: 1050px) {

    #aside {
        width: 100%;
        height:30em;
        float:none;
    }
    
    #aside img {
        display: none;
    }

    #contact-next-to {
        width: 100%
    }

    #contact-next-to svg {
        margin-left:23em;
    }

    #texte-contact p {
        display: inline-grid;
        justify-content: center;
        width:15em;
        margin-left:8em;
    }

    #logo-adresse, #logo-tel, #logo-email, #logo-site {
        width: 30px;
        height: 30px;
        position: absolute;
        margin-top: 1.2em;
        color: #212121;
    }

    #logo-adresse {
        margin-left: 6em;
    }

    #logo-email {
        display: flex;
        margin-left: 7em;
    }

    #logo-tel {
        margin-left:10em;
    }

    #logo-site {
        margin-left: 7.5em;
    }

    #a-propos {
        width:100%;
    }

    #a-propos svg {
        margin-left:20em;
    }

    header {
        display: none;
    }

    #header {
        display: block;
        margin-left: 15em;
        margin-top:5em;
    }
    
    #header h2{
        font-size: 70px;
        font-family: 'colab';
        font-weight: lighter;
        margin:0;
    }
    
    #header span {
        color: #212121;
        font-size:70px;
        font-family: 'ambleregular'
    }
    
    #header p {
        margin:0;
        font-family: 'ambleregular';
        font-size: 25px;
        font-weight: bold;
        color: #212121;
    }

    #header img {
        display: block;
        width: 160px;
        height:200px;
        border-radius: 50%;
        margin-left: 6em;
        margin-bottom: 2em;
        border: 5px #5597ce93 solid;
    }

    .content {
        width: 19em;
        padding-right: 2em;
        padding-left: 2em;
    }

    #cercle-point-dip1{
        margin-top: 36px;
    }

    #formation-formation {
        margin-top: 2em;
    }

    #logo-formation {
        margin-top:3em;
    }

    #sepa-formation, #sepa-exp {
        width:45em;
    }

    #loisirs {
        margin-top:198em;
        width: 100%;
        margin-bottom: 0;
    }

    #logo-loisir {
        margin-left:23em;
    }

    #logo-loisir-ordi {
        margin-left:20em;
    }

    #fond-loisir {
        width: 100%;
        height: 6em;
        background-color:#64B5F6;
    }

    .descript {
        font-size:18px;
    }
}


                                                                                            /*Responsive 900px -> 650px */

@media (min-width:650px) and (max-width: 900px) {

    #aside {
        width: 100%;
        height:37em;
        float:none;
    }
    
    #aside img {
        display: none;
    }

    #contact-next-to {
        width: 100%
    }

    #contact-next-to svg {
        margin-left:15em;
    }

    #texte-contact p {
        display: inline-grid;
        justify-content: center;
        width:12em;
        margin-left:4em;
    }

    #logo-adresse, #logo-tel, #logo-email, #logo-site {
        width: 30px;
        height: 30px;
        position: absolute;
        margin-top: 1.2em;
        color: #212121;
    }

    #logo-email {
        display: flex;
        margin-left: 1.5em;
    }

    #logo-adresse {
        margin-left: 1.5em;
    }

    #logo-tel {
        margin-left: 4.5em;
    }

    #logo-site {
        margin-left: 2.5em;
    }

    #a-propos {
        width:100%;
    }

    #a-propos svg {
        margin-left:12em;
    }

    header {
        display: none;
    }

    #header {
        display: block;
        margin-left: 7.5em;
        margin-top:5em;
    }
    
    #header h2{
        font-size: 70px;
        font-family: 'colab';
        font-weight: lighter;
        margin:0;
    }
    
    #header span {
        color: #212121;
        font-size:70px;
        font-family: 'ambleregular'
    }
    
    #header p {
        margin:0;
        font-family: 'ambleregular';
        font-size: 25px;
        font-weight: bold;
        color: #212121;
    }

    #header img {
        display: block;
        width: 160px;
        height:200px;
        border-radius: 50%;
        margin-left: 6em;
        margin-bottom: 2em;
        border: 5px #5597ce93 solid;
    }

    #formation-formation {
        margin-top: 2em;
    }

    #logo-formation {
        margin-top:3em;
    }

    #sepa-formation, #sepa-exp {
        width:30em;
    }

    #cercle-point-dip1 {
        margin-top: 36px;
    }

    #loisirs {
        margin-top:185em;
        width: 100%;
        margin-bottom: 0;
    }

    #logo-loisir {
        margin-left:15.5em;
    }

    #logo-loisir-ordi {
        margin-left:13em;
    }

    #fond-loisir {
        width: 100%;
        height: 6em;
        background-color:#64B5F6;
    }

    h4 {
        font-size: 15px;
    }

    .descript {
        font-size:15px;
    }

    .etablissement {
        font-size:20px;
    }

    .titre {
        font-size: 15px;
    }

    .content {
        width: 12em;
        padding-right: 1em;
        padding-left:2em;
    }
}

                                                                                            /*Responsive 900px -> 650px */

@media (min-width:480px) and (max-width: 650px) {

    #aside {
        width: 100%;
        height:49em;
        float:none;
    }
    
    #aside img {
        display: none;
    }

    #contact-next-to {
        width: 100%
    }

    #contact-next-to svg {
        margin-left:10em;
    }

    #texte-contact p {
        display: block;
        margin-left:12em;
    }

    #logo-adresse, #logo-tel, #logo-email, #logo-site {
        width: 30px;
        height: 30px;
        position: absolute;
        margin-top: 0.5em;
        color: #212121;
        margin-left: 7em;
    }

    #logo-email {
        display: flex;
    }

    #a-propos {
        width:100%;
    }

    #a-propos svg {
        margin-left:7em;
    }

    header {
        display: none;
    }

    #header {
        display: block;
        margin-left: 7.5em;
        margin-top:5em;
    }
    
    #header h2{
        font-size: 70px;
        font-family: 'colab';
        font-weight: lighter;
        margin:0;
    }
    
    #header span {
        color: #212121;
        font-size:70px;
        font-family: 'ambleregular'
    }
    
    #header p {
        margin:0;
        font-family: 'ambleregular';
        font-size: 25px;
        font-weight: bold;
        color: #212121;
    }

    #header img {
        display: block;
        width: 160px;
        height:200px;
        border-radius: 50%;
        margin-left: 2em;
        margin-bottom: 2em;
        border: 5px #5597ce93 solid;
    }

    #body {
        margin-left: 2em;
    }

    .content {
        padding-right: 0;
        width: 10em;
        padding-left: 2em;
    }

    #cercle-point-dip1 {
        margin-top: 36px;
    }

    #formation-formation {
        margin-top: 2em;
    }

    #logo-formation {
        margin-top:3em;
    }

    #sepa-formation, #sepa-exp {
        width:25em;
    }

    #loisirs {
        margin-top:198em;
        width: 100%;
        margin-bottom: 0;
    }

    #logo-loisir {
        margin-left:10em;
    }

    #logo-loisir-ordi {
        margin-left:7em;
    }

    #fond-loisir {
        width: 100%;
        height: 6em;
        background-color:#64B5F6;
    }

    h4 {
        font-size: 15px;
        margin-bottom: 7em;
    }

    .descript {
        font-size:15px;
    }

    .etablissement {
        font-size:20px;
    }

    .titre {
        font-size: 15px;
    }
}

                                                                                /* Responsive < 480px */

@media screen and (max-width: 480px) {

    #aside {
        width: 100%;
        height:52em;
        float:none;
    }
    
    #aside img {
        display: none;
    }

    #contact-next-to {
        width: 100%
    }

    #contact-next-to svg {
        margin-left:8.5em;
    }

    #texte-contact p {
        display: block;
        width:13em;
        margin-left:9em;
    }

    #logo-adresse, #logo-tel, #logo-email, #logo-site {
        width: 30px;
        height: 30px;
        position: absolute;
        margin-top: 0.5em;
        color: #212121;
        margin-left: 5.5em;
    }

    #logo-email {
        display: flex;
    }

    #a-propos {
        width:100%;
    }

    #a-propos svg {
        margin-left:6em;
    }

    header {
        display: none;
    }

    #header {
        display: block;
        margin-left: 4.5em;
        margin-top:5em;
    }
    
    #header h2{
        font-size: 70px;
        font-family: 'colab';
        font-weight: lighter;
        margin:0;
    }
    
    #header span {
        color: #212121;
        font-size:70px;
        font-family: 'ambleregular'
    }
    
    #header p {
        margin:0;
        font-family: 'ambleregular';
        font-size: 25px;
        font-weight: bold;
        color: #212121;
    }

    #header img {
        display: block;
        width: 160px;
        height:200px;
        border-radius: 50%;
        margin-left: 2em;
        margin-bottom: 2em;
        border: 5px #5597ce93 solid;
    }

    #body {
        margin-left: 2em;
    }

    .content {
        width: 10em;
        padding-right: 1em;
        padding-left: 1.5em;
    }

    #formation-formation {
        margin-top: 2em;
    }

    #logo-formation {
        margin-top:3em;
    }

    #sepa-formation, #sepa-exp {
        width:23em;
    }

    #loisirs {
        margin-top:194em;
        width: 100%;
        margin-bottom: 0;
    }

    #logo-loisir {
        margin-left:9em;
    }

    #logo-loisir-ordi {
        margin-left:6em;
    }

    #fond-loisir {
        width: 100%;
        height: 6em;
        background-color:#64B5F6;
    }

    h4 {
        font-size: 15px;
        margin-bottom: 8.5em;
    }

    .descript {
        font-size:15px;
    }

    .etablissement {
        font-size:20px;
    }

    .titre {
        font-size: 15px;
    }

    #cercle-point-dip1 {
        margin-top: 36px;
    }
}